@page
@model Apram.Pages.UserResponsesModel
@{
}
<style>
    td {
        margin: 5px;
        padding: 10px;
        border: 1px solid black;
    }

    th {
        margin: 5px;
        padding: 10px;
        border: 1px solid black;
    }

    h3 {
        margin-top: 20px
    }
</style>
<h1>Manage My Responses</h1>
<h3>My RFL Responses</h3>
<table style="border: 1px solid black;" id="parts">
    <tr>
        <th>Serial Number</th>
        <th>Description</th>
        <th>Requestor</th>
        <th>RFL Created</th>
        <th>Needed By</th>
        <th>Needed Until</th>
        <th>Quantity Needed</th>
        <th>Conversation</th>
    </tr>
    @foreach (var rflResponse in Model.RFLResponses)
    {
        <tr>
            <td>@rflResponse.ParentRFL.PartNumber</td>
            <td>@rflResponse.ParentRFL.PartDescription</td>
            <td>@rflResponse.ParentRFL.RequestingEntity</td>
            <td>@rflResponse.ParentRFL.DateInserted.ToShortDateString()</td>
            <td>@rflResponse.ParentRFL.DateNeededStart.ToShortDateString()</td>
            <td>@rflResponse.ParentRFL.DateNeededEnd.ToShortDateString()</td>
            <td>@rflResponse.ParentRFL.Quantity</td>
            <td><a class="nav-link text-dark" asp-area="" asp-page="/Conversation" asp-route-ID="@rflResponse.ID">@rflResponse.MessageCount</a></td>
        </tr>
    }
</table>

<h3>My RFQ Responses</h3>
<table style="border: 1px solid black;" id="parts">
    <tr>
        <th>Serial Number</th>
        <th>Description</th>
        <th>Requestor</th>
        <th>RFQ Created</th>
        <th>Conversation</th>
    </tr>
    @foreach (var rfq in Model.RFQResponses)
    {
        <tr>
            <td>@rfq.ParentRFQ.PartNumber</td>
            <td>@rfq.ParentRFQ.PartDescription</td>
            <td>@rfq.ParentRFQ.RequestingEntity</td>
            <td>@rfq.ParentRFQ.DateInserted.ToShortDateString()</td>
            <td><a class="nav-link text-dark" asp-area="" asp-page="/Conversation" asp-route-ID="@rfq.ID">@rfq.MessageCount</a></td>
        </tr>
    }
</table>

<h3>My Part Listing Responses</h3>
<table style="border: 1px solid black;" id="parts">
    <tr>
        <th>Serial Number</th>
        <th>Aircraft Type</th>
        <th>Description</th>
        <th>Seller</th>
        <th>Conversation</th>
    </tr>
    @foreach (var partListing in Model.PartListingResponses)
    {
        <tr>
            <td>@partListing.ParentListing.SerialNumber</td>
            <td>@partListing.ParentListing.AircraftType</td>
            <td>@partListing.ParentListing.Description</td>
            <td>@partListing.ParentListing.SellingEntity</td>
            <td><a class="nav-link text-dark" asp-area="" asp-page="/Conversation" asp-route-ID="@partListing.ID">@partListing.MessageCount</a></td>
        </tr>
    }
</table>